.field {
  position: relative;
  z-index: 1;
  color: #fff;
  background-color: rgba(51, 51, 51, 0.4);
  padding: 40px 10px;
  text-align: center;
}

.title {
  font-size: 2em;
  margin-bottom: 0;
}

.description {
  font-family: "Raleway-semibold";
}
