@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "Raleway-semibold";
  src: url(./fonts/Raleway-SemiBold.ttf);
}

body {
  font-family: "Raleway", sans-serif;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center-90 {
  align-items: center;
}

.flex-center {
  justify-content: center;
}
